@media(min-width: 768px) {
  .avatar {
    display: block;
    margin-right: 0.5rem;
  }
  hr {
    display: none;
  }

  /* Footer */
  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  footer .copyright, footer .social-links {
    margin-top: 1rem;
  }

  /* Main - posts */
  main .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
  }

  /* Post detail */
  main .post-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 2rem;
  }

  main div.post-background.post-image-one.post-image-detail {
    background: url('../images/post-one.png');
    height: 300px;
  }
}
