/* Reset some default styles */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.avatar {
  display: none;
  color: green;
  background: url('../images/profile.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* Header */
header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: #FFF;
  align-items: center;
}
header span {
  font-size: 20px;
  color: #40C3F7;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin-right: 1rem;
}
header ul li:last-child {
  margin-right: 0;
}
header .info {
  display: flex;
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #40C3F7;
  color: #fff;
}
footer ul.social-links {
  list-style: none;
  display: flex;
  padding: 0;
}
footer ul li {
  margin-right: 0.5rem;
}
footer ul li:last-child {
  margin-right: 0;
}
footer .copyright, footer .social-links {
  margin-top: 0;
}
footer i.fas.fa-heart {
  color: #CF1124;
}

/* Main */
main {
  background-color: #E3F8FF;
  padding: 1rem 2rem;
}
